<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- *Tailwindcss -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- *Fontawesome -->
    <script
      src="https://kit.fontawesome.com/a74559d35e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/index.css" />
    <title>NLH - inicio</title>
  </head>
  <body class="m-0 p-0 overflow-x-hidden">
    {%block content%} {%endblock%}
  </body>
  
</html>
